---
description: Verify the sex of a sample
---

# Sample sex verification
